VITE_COGNITO_DOMAIN=expense-tracker-auth-test.auth.eu-west-1.amazoncognito.com
VITE_COGNITO_CLIENT_ID=placeholder
VITE_COGNITO_REDIRECT_URI=http://localhost:5173
VITE_API_URL=http://localhost:5173/api
